<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    
  <!--[if gte mso 9]>
    <xml>
      <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  <![endif]-->

  <title>{% block title %}{% endblock %}</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no"/>

  <!--[if !mso]><!-->
    <link href='https://cloud.dev.oculusvr.com/NeuePlakStylesheet.css' rel='stylesheet' type='text/css' />
  <!--<![endif]-->

  <style type="text/css">
    body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
    }

    img {
    border: 0 !important;
    outline: none !important;
    }


    table {
    border-collapse: collapse;
    mso-table-lspace: 0px;
    mso-table-rspace: 0px;
    }

    td, a, span {
    border-collapse: collapse;
    mso-line-height-rule: exactly;
    }


    .em_grey1 a {
    color: #F2F0E5;
    text-decoration: none;
    }

    .em_white a {
    color: #ffffff;
    text-decoration: none;
    }

    @media only screen and (min-width:375px) and (max-width:599px) {

      .pgo-price{
          padding-top: 0px !important;
      }

      .em_main_table {
      width: 100% !important;
      }
      .em_wrapper {
      width: 100% !important;
      }
      .em_hide {
      display: none !important;
      }
      .em_full_img {
      width: 100% !important;
      height: auto !important;
      }

      .em_h20_1 {
      height: 17px !important;
      font-size: 1px!important;
      line-height: 1px!important;
      }
      .em_h30 {
      height: 30px !important;
      }

      .em_font10 {
      font-size: 12px !important;
      line-height: 14px !important;
      }
      .em_font101 {
      font-size: 10px !important;
      line-height: 14px !important;
      }
      .em_padr15 {
      padding-right: 15px !important;
      }

      .em_pbottom {
      padding-bottom: 15px !important;
      }

      .em_pad_footer {
      padding: 35px 16px !important;
      }

      .em_logo_img {
      width: 127px !important;
      height: auto !important;
      }
      .em_meta_logo {
      width: 90px !important;
      height: auto !important;
      }

      .em_height4 {
      height: 15px !important;
      font-size: 0px !important;
      line-height: 0px !important;
      }

      .em_w83 {
      width: 89px !important;
      height: auto !important;
      }

      .em_hide_desktop {
      display: table !important;
      float: none !important;
      width: 100% !important;
      overflow: visible !important;
      height: auto !important;
      }

      .em_pbody {
      padding: 13px 5% 10px 5% !important;
      }

      .em_font12 {
      font-size: 14px !important;
      line-height: 16px !important;
      }
      .em_p40 {
      padding-bottom: 30px !important;
      }
      .em_w14 {
      width: 16px !important;
      height: auto !important;
      }

      .em_hauto {
      height: auto !important;
      }

    }

    @media screen and (max-width: 374px) {

      .pgo-price{
        padding-top: 0px !important;
      }
      .em_main_table {
      width: 100% !important;
      }
      .em_wrapper {
      width: 100% !important;
      }
      .em_hide {
      display: none !important;
      }
      .em_full_img {
      width: 100% !important;
      height: auto !important;
      }

      .em_h20_1 {
      height: 15px !important;
      font-size: 1px!important;
      line-height: 1px!important;
      }
      .em_h30 {
      height: 30px !important;
      }

      .em_font10 {
      font-size: 10px !important;
      line-height: 12px !important;
      }
      .em_font101 {
      font-size: 10px !important;
      line-height: 14px !important;
      }

      .em_padr15 {
      padding-right: 15px !important;
      }

      .em_pbottom {
      padding-bottom: 10px !important;
      }
      .em_pad_footer {
      padding: 35px 16px !important;
      }

      .em_logo_img {
      width: 127px !important;
      height: auto !important;
      }
      .em_meta_logo {
      width: 90px !important;
      height: auto !important;
      }

      .em_height4 {
      height: 10px !important;
      font-size: 0px !important;
      line-height: 0px !important;
      }

      .em_w83 {
      width: 89px !important;
      height: auto !important;
      }

      .em_ptop30 {
      padding-top: 30px !important;
      }

      .em_hide_desktop {
      display: table !important;
      float: none !important;
      width: 100% !important;
      overflow: visible !important;
      height: auto !important;
      }

      .em_p40 {
      padding-bottom: 23px !important;
      }

      .em_pbody {
      padding: 13px 5% 10px 5% !important;
      }
      .em_font12 {
      font-size: 12px !important;
      line-height: 14px !important;
      }

      .em_w14 {
      width: 14px !important;
      height: auto !important;
      }

      .em_hauto {
      height: auto !important;
      }
    }
  </style>

  <!--[if mso]>

    <style type="text/css">

      body, table, td {
        font-family: Arial, sans-serif !important;
      }

      .em_s1 {
        font-family: Arial, sans-serif !important;
      }

      .em_s2 {
        font-family: 'Times New Roman', Times, serif !important;
      }

    </style>

  <![endif]--> 

  {% include "sfmc.njk" %}

</head>

<body class="em_body" style="margin:0px auto; padding:0px;" bgcolor="#ffffff">
    {% block content %}{% endblock %}

    {% include "tracking.njk" %}
</body>
</html>
