{% from "macros.njk" import cssFontSize, cssFontWeight %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <html lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    #outlook a {
      padding: 0;
    }

    body {
      margin: 0;
      padding: 0;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    table,
    td {
      border-collapse: collapse;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    img {
      border: 0;
      height: auto;
      line-height: 100%;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    p {
      display: block;
      margin: 13px 0;
    }
  </style>
  <!--[if mso]>
        <noscript>
        <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
        </xml>
        </noscript>
        <![endif]-->
  <!--[if lte mso 11]>
        <style type="text/css">
          .mj-outlook-group-fix { width:100% !important; }
        </style>
        <![endif]-->
  <!--[if !mso]><!-->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.cdnfonts.com/css/compass" rel="stylesheet" type="text/css">
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
    @import url(http://fonts.cdnfonts.com/css/compass);
  </style>
  <!--<![endif]-->
  <style type="text/css">
    .moz-text-html .mj-column-per-100 {
      width: 100% !important;
      max-width: 100%;
    }

    .moz-text-html .mj-column-per-10 {
      width: 10% !important;
      max-width: 10%;
    }
    
    .btn-a table {
      margin-bottom: 20px !important;
      margin-top: 30px !important
    }

    .btn-b table {
      margin-top: 30px !important
    }

    .btn a {
      padding: 15px 40px !important;
      font-family: 'CompassSans-Medium' !important;
    }

    @font-face {
      font-family: 'CompassSans-Regular';
      src:
        url("https://d11k51v32u8ru4.cloudfront.net/mc-fonts/1.3.0/CompassSans-Regular.woff") format("woff");
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: 'CompassSans-Bold';
      src:
        url("https://d11k51v32u8ru4.cloudfront.net/mc-fonts/1.3.0/CompassSans-Bold.woff") format("woff");
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: 'CompassSans-Medium';
      src:
        url("https://d11k51v32u8ru4.cloudfront.net/mc-fonts/1.3.0/CompassSans-Medium.woff") format("woff");
      font-weight: 500;
      font-style: normal;
    }

    .mj-column-per-10 {
      width: 7% !important;
    }

    .line {
      margin: 0;
      font-size: 14px;
      font-family: 'CompassSans-Regular';
      opacity: .8
    }

    .header-txt {
      margin: 0;
      font-size: 42px;
      line-height: 115%;
      font-family: 'CompassSans-Medium';
    }

    .subheader-txt {
      margin: 0;
      font-size: 30px;
      line-height: 115%;
      font-family: 'CompassSans-Regular';
    }

    .testimonial-txt {
      margin: 0;
      font-size: 24px;
      line-height: 1.4;
      font-family: 'CompassSans-Regular';
    }

    body {
      margin: 0;
      padding: 0;
      background-color: #e5e5e5;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      mso-margin-top-alt: 0px;
      mso-margin-bottom-alt: 0px;
      mso-padding-alt: 0px 0px 0px 0px;
    }

    .ExternalClass {
      width: 100%;
    }

    .ExternalClass {
      line-height: 100%;
    }

    .ReadMsgBody {
      width: 100%;
      background-color: #ebebeb;
    }

    img {
      -ms-interpolation-mode: bicubic;
      display: block;
    }

    @font-face {
      font-family: 'Compass', sans-serif;
      src: url("http://fonts.cdnfonts.com/css/compass");
    }

    @font-face {
      font-family: '';
      src:
        url("") format("");
      font-weight: ;
      font-style: normal;
    }

    @media screen and (max-width: 599px) {
      .bg-white {
        background: #ffffff !important;
      }

      .bg-grey-1 {
        background: #f2f2f2 !important;
      }

      .bg-grey-2 {
        background: #efefef !important;
      }

      .bg-grey-3 {
        background: #dddddd !important;
      }

      .bg-black {
        background: #000000 !important;
      }

      .inner {
        width: 100% !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
      }

      .inner-mobile {
        width: 100% !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
      }

      .text-center {
        text-align: center !important;
      }

      .text-right {
        text-align: right !important;
      }

      .text-left {
        text-align: left !important;
      }

      .hide-mobile {
        display: none !important;
      }

      .show-mobile {
        display: block !important;
      }

      .show-desktop {
        display: block !important;
      }

      .hide-desktop {
        display: none !important;
      }

      .pt0-mobile {
        padding-top: 0 !important;
      }

      .pr0-mobile {
        padding-right: 0 !important;
      }

      .pb0-mobile {
        padding-bottom: 0 !important;
      }

      .pl0-mobile {
        padding-left: 0 !important;
      }

      .p0-mobile {
        padding: 0 !important;
      }

      .pt10-mobile {
        padding-top: 10px !important;
      }

      .pr10-mobile {
        padding-right: 10px !important;
      }

      .pb10-mobile {
        padding-bottom: 10px !important;
      }

      .pl10-mobile {
        padding-left: 10px !important;
      }

      .p10-mobile {
        padding: 10px !important;
      }

      .pt20-mobile {
        padding-top: 20px !important;
      }

      .pr20-mobile {
        padding-right: 20px !important;
      }

      .pb20-mobile {
        padding-bottom: 20px !important;
      }

      .pl20-mobile {
        padding-left: 20px !important;
      }

      .p20-mobile {
        padding: 20px !important;
      }

      .pt30-mobile {
        padding-top: 30px !important;
      }

      .pr30-mobile {
        padding-right: 30px !important;
      }

      .pb30-mobile {
        padding-bottom: 30px !important;
      }

      .pl30-mobile {
        padding-left: 30px !important;
      }

      .p30-mobile {
        padding: 30px !important;
      }

      .pt40-mobile {
        padding-top: 40px !important;
      }

      .pr40-mobile {
        padding-right: 40px !important;
      }

      .pb40-mobile {
        padding-bottom: 40px !important;
      }

      .pl40-mobile {
        padding-left: 40px !important;
      }

      .p40-mobile {
        padding: 40px !important;
      }

      .pt50-mobile {
        padding-top: 50px !important;
      }

      .pr50-mobile {
        padding-right: 50px !important;
      }

      .pb50-mobile {
        padding-bottom: 50px !important;
      }

      .pl50-mobile {
        padding-left: 50px !important;
      }

      .p50-mobile {
        padding: 50px !important;
        font-weight
      }

      {{ cssFontSize([12, 14, 16, 18, 20, 22, 24, 26, 28, 30]) }}

      {{ cssFontWeight([200, 400, 800]) }}
    }
  </style>
  <style>
    @media screen and (max-width:520px) {
      .line {
        font-size: 12px !important;
      }

      .header-txt {
        font-size: 38px !important;
        font-family: 'CompassSans-Bold' !important;
      }

      .header-txt-b {
        font-size: 20px !important;
      }

      .btn a {
        font-size: 16px !important;
      }
    }
    
    @media screen and (max-width:480px){
      table.mj-full-width-mobile {
        width: 100% !important;
      }

      td.mj-full-width-mobile {
        width: auto !important;
      }
    

    .mj-column-per-100 {
        width: 100% !important;
        max-width: 100%;
      }

      .mj-column-per-10 {
        width: 10% !important;
        max-width: 10%;
      }
    }

    @media screen and (max-width:420px) {
      .line {
        font-size: 11px !important;
        line-height: 13px !important;
      }

      .header-txt {
        font-size: 28px !important;
        font-family: 'CompassSans-Bold' !important;
      }

      .subheader-txt {
        font-size: 20px !important;
      }

      .header-txt-b {
        font-size: 18px !important;
      }

      .btn a {
        font-size: 16px !important;
        padding: 15px 100px !important;
      }

      .testimonial-txt {
        font-size: 16px !important;
      }
    }
  </style>
</head>

<body style="word-spacing:normal;">
    {% block content %}{% endblock %}
</body>
</html>
